@mixin darken($color, $amount: 10%) {
    background-color: $color;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($color, $amount);
        cursor: pointer;
    }
}