.image-items, .form-items, .saveButton {
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;
        max-width: 500px;  
        width: 100%;  
    }
    input, button {
        border-radius: 12px;
        font-size: 1.5rem;
    }
}

.forms {
    input {
        width: 100%;
    }
    button {
        background-color: #1E90FF;
        color: white;
        @include darken(#1E90FF)
    }
}

.saveButton button {
    background-color: #50C878;
    @include darken(#50C878)
}

.forms {
    h1 {
        font-size: 2em;
    }
}

.image-generator {
    margin-bottom: 3rem;

    button {
        background-color: #6C3BAA;
        color: white;
        @include darken(#6C3BAA)
    }
}
