.image-items, .form-items{
    margin-bottom: 1rem;

    form {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0 auto;
        max-width: 600px;  
        width: 100%;  
    }
    .image-items input {
        flex: 1;
    }
    
    input, button {
        width: 100%;
        border-radius: 12px;
        font-size: 1.5rem;
        white-space: nowrap;
    }
}

.forms {
    input {
        width: 100%;
    }
    button {
        background-color: #1E90FF;
        color: white;
        @include darken(#1E90FF)
    }
}


.saveButton button {
    background-color: #50C878;
    @include darken(#50C878);
    border-radius: 12px;
}

.forms {
    h1 {
        font-size: 2em;
    }
}

.image-generator {
    margin-bottom: 3rem;

    button {
        background-color: #6C3BAA;
        color: white;
        @include darken(#6C3BAA)
    }
}
